@()(implicit session: play.api.mvc.Session)
@main("Admin Options"){
<h1> Welcome @session.get("name").getOrElse("Anonymous")</h1>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Details</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="">Profile</a></li>
            <li><a href="@routes.AssignmentController.assGetViewReq">View Assignments</a></li>
            <li><a href="@routes.AdminController.getAllNormalUser">View User</a></li>
            <li><a href="@routes.AssignmentController.assGetAddReq">Add Assignment</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.HomeController.logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
}