@(user: Form[models.form.forgetPasswordData])(implicit request: RequestHeader, messagesProvider: MessagesProvider,flash: play.api.mvc.Flash)
@import helper._
@main("Re-set Password page") {

@if(user.hasGlobalErrors) {
<ul>
    @for(error <- user.globalErrors) {
    <li>@error.format</li>
    }
</ul>
}
<h2>
@flash.get("status").getOrElse("Re-Set Password Here")
    </h2>
<br>
<br>
<div class="container">
<form action="@routes.HomeController.reset()" method="POST">
    @CSRF.formField

    @helper.inputText(user("username"),'_showConstraints -> false,'_label -> "Enter Existing Username") @* <- takes a MessagesProvider *@
    @helper.inputText(user("password"),'_showConstraints -> false,'_label -> "New Password")  @* <- takes a MessagesProvider *@
    @helper.inputText(user("confirmPassword"),'_showConstraints -> false,'_label -> "Re Enter Password")  @* <- takes a MessagesProvider *@

    <input type="submit" value="Re-Set" />

</form>
</div>
}
