@(user: Form[models.form.UserSignupData])(implicit request: RequestHeader, messagesProvider: MessagesProvider,session: play.api.mvc.Session)
@import helper._

@main("Sign up") {

<div>
    @profile()
</div>

@if(user.hasGlobalErrors) {
<ul>
    @for(error <- user.globalErrors) {
    <li>@error.format</li>
    }
</ul>
}


<h3>Edit Profile</h3>
<h4> You can update personal information here.</h4>
<br>
<div class="container">
<form action="@routes.HomeController.updateProfile()" method="POST">
    @CSRF.formField


    @helper.inputText(user("fname"),'_showConstraints -> false,'_label -> "First Name") @* <- takes
    a MessagesProvider *@

    @helper.inputText(user("mname"),'_showConstraints -> false,'_label -> "Middle Name") @* <- takes
    a MessagesProvider *@
    @helper.inputText(user("lname"),'_showConstraints -> false,'_label -> "Last Name") @* <- takes
    a MessagesProvider *@
    @helper.inputText(user("username"),'_showConstraints -> false,'_label -> "User Name") @* <-
    takes a MessagesProvider *@
    @helper.inputText(user("password"),'_showConstraints -> false,'_label -> "Password") @* <- takes
    a MessagesProvider *@

    @helper.inputText(user("confirmPassword"),'_showConstraints -> false,'_label -> "Re-enter Password") @* <- takes a MessagesProvider *@


    @helper.inputText(user("mobile"),'_showConstraints -> false,'_label -> "Phone") @* <- takes a
    MessagesProvider *@
    @helper.inputText(user("age"),'_showConstraints -> false,'_label -> "Age") @* <- takes a
    MessagesProvider *@
    @helper.inputRadioGroup(user("hobby"), Seq("Singing" -> "Singing", "Dancing" -> "Dancing", "Cooking" -> "Cooking"),'_showConstraints -> false,'_label -> "Hobby")
    @helper.inputRadioGroup(user("gender"), Seq("Male" -> "Male", "Female" -> "Female"),'_showConstraints -> false,'_label -> "Enter Existing Username")

    <input type="submit" value="Update"/>

</form>
</div>

}
